<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">Customize trigger</h3>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-lg-12 col-md-11">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Create new automation features</h4>
                    </div>
                    <div class="panel-body">
                        <form class="form">
                            <div class="form-group">
                                <input type="text" placeholder="Name of a trigger" name="trigger_name" id="trigger_name"
                                       value="{{ trigger.name|default('') }}" class="form-control"/>
                            </div>
                        </form>
                        <form class="form-inline">
                            <div class="form-group">
                                On event <select name="event[id]"
                                                 class="form-control mb-2 mb-sm-0 border-input g-events">
                                    <option>-- select event --</option>
                                    {% for k,v in events|default([]) %}
                                        <option value="{{ v['id'] }}"
                                                {% if v['id'] == data.event.id|default(null) %}selected{% endif %}>{{ v['name'] }}</option>
                                    {% endfor %}
                                </select>
                                execute action
                                <select name="action[id]"
                                        class="form-control mb-2 mb-sm-0 border-input g-actions">
                                    <option>-- select action --</option>
                                    {% for k,v in actions|default([]) %}
                                        <option value="{{ v['id'] }}"
                                                {% if v['id'] == data.action.id|default(null) %}selected{% endif %}>{{ v['name'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </form>

                        <form class="form-inline" style="margin-top:10px;">
                            <div class="form-group">
                                <div class="g-conditions" style="padding-left:17px;">
                                    {% for k,v in data.conditions|default([]) %}
                                        <p class="g-p-condition"><i class="fa fa-minus-square" aria-hidden="true"
                                                                    style="cursor: pointer;"></i>
                                            &nbsp; If &nbsp;
                                            <select name="condition-name"
                                                    class="form-control mb-2 mb-sm-0 border-input g-conditions-select">
                                                {% for i,j in triggerConditions %}
                                                    <option value="{{ j.id }}"
                                                            {% if v.id == j.id %}selected="selected"{% endif %}>{{ j.name }}</option>
                                                {% endfor %}
                                            </select>
                                            <select name="condition-sign"
                                                    class="form-control mb-2 mb-sm-0 border-input g-conditions-signs">
                                                {% for i,j in triggerConditions[v.id].signs %}
                                                    <option value="{{ j }}"
                                                            {% if v.sign == j %}selected="selected"{% endif %}>{{ j }}</option>
                                                {% endfor %}
                                            </select>

                                            {% if triggerConditions[v.id].values is type('array') %}
                                                <select name="condition-value"
                                                        class="form-control mb-2 mb-sm-0 border-input g-conditions-value">
                                                    {% for ii,jj in triggerConditions[v.id].values %}
                                                        <option value="{{ ii }}"
                                                                {% if ii == v.value %}selected="selected"{% endif %}>{{ jj }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% else %}
                                                <input value="{{ v.value }}" name="condition-value" type="text"
                                                       class="form-control border-input g-conditions-value {% if v.id==9 %}date-picker{% endif %}"
                                                       placeholder="value"/>
                                            {% endif %}
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                        </form>

                        <form class="form-inline">
                            <div class="form-group">
                                <button class="btn btn-success g-add-condition">
                                    <i class="fa fa-plus-square" aria-hidden="true"></i> &nbsp; Add condition
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {# FREE SPINS #}
        <div class="row g-action-details g-action-details-1"
             style="{% if data.action.id|default(null) != 1 %}display: none{% endif %}">
            <div class="col-lg-12 col-md-11">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Action details</h4>
                    </div>
                    <div class="panel-body">
                        {%- macro fs_macro(games) %}
                            <form class="form-inline">
                                <div class="form-group">
                                    Give <input name="amount" placeholder="10"
                                                class="form-control mb-2 mb-sm-1 border-input" value="{{ detail.amount }}"> Free Spins
                                    in a Game <select name="game_id"
                                                      class="form-control mb-2 mb-sm-0 border-input g-games">
                                        <option>-- select game --</option>
                                        {% for game in games %}
                                            <option value="{{ game.id }}" {% if detail.game_id|default(null) == game.id %}selected{% endif %}>{{ game.company }} / {{ game.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                        {%- endmacro  %}
                        {% for detail in data.action_details %}
                            {{ fs_macro(games) }}
                        {% else %}
                            {{ fs_macro(games) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {# FREE MONEY #}
        <div class="row g-action-details g-action-details-2"
             style="{% if data.action.id|default(null) != 2 %}display: none{% endif %}">
            <div class="col-lg-12 col-md-11">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Action details</h4>
                    </div>
                    <div class="panel-body">
                        {%- macro fm_macro(games) %}
                            <form class="form-inline">
                                <div class="form-group">
                                    Give <input name="amount" placeholder="10"
                                                class="form-control mb-2 mb-sm-1 border-input" value="{{ detail.amount|default(null) }}"> Free Money
                                    in a Game <select name="game_id"
                                                      class="form-control mb-2 mb-sm-0 border-input g-games">
                                        <option>-- select game --</option>
                                        {% for game in games %}
                                            <option value="{{ game.id }}" {% if detail.game_id|default(null) == game.id %}selected{% endif %}>{{ game.company }} / {{ game.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                        {%- endmacro  %}
                        {% for detail in data.action_details %}
                            {{ fm_macro(games) }}
                        {% else %}
                            {{ fm_macro(games) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {# MODIFY PROPERTY #}
        <div class="row g-action-details g-action-details-3"
             style="{% if data.action.id|default(null) != 3 %}display: none{% endif %}">
            <div class="col-lg-12 col-md-11">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Defined variables</h4>
                    </div>
                    <div class="panel-body">
                        {%- macro variable_macro(variables, variable) %}
                            <form class="form-inline g-property" style="margin-top:10px;">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">$</span>
                                        <select name="id" class="form-control mb-1 mb-sm-1 border-input"
                                                style="width: 200px !important;">
                                            <option>-- select variable --</option>
                                            {% for var in variables %}
                                            <option value="{{ var.id }}" {% if variable.id|default(null)==var.id %}selected{% endif %}>{{ var.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <select name="sign" class="form-control border-input">
                                        <option value="=" {% if variable.sign|default(null)=='=' %}selected{% endif %}>assign</option>
                                        <option value="+=" {% if variable.sign|default(null)=='+=' %}selected{% endif %}>increment by</option>
                                        <option value="*=" {% if variable.sign|default(null)=='*=' %}selected{% endif %}>multiply by</option>
                                        <option value="/=" {% if variable.sign|default(null)=='/=' %}selected{% endif %}>divide by</option>
                                        <option value="[]=" {% if variable.sign|default(null)=='[]=' %}selected{% endif %}>add to the list</option>
                                    </select>
                                    <input name="equation" placeholder="expression"
                                           class="form-control mb-1 mb-sm-1 border-input"
                                           value="{{ variable.equation|default('') }}">
                                    &nbsp; <i class="fa fa-question-circle" style="cursor: pointer;" aria-hidden="true"
                                              data-toggle="modal" data-target=".property-modal"></i>
                                </div>
                            </form>
                        {%- endmacro %}
                        {% for variable in data.action_details|default([]) %}
                            {{ variable_macro(variables, variable) }}
                        {% else %}
                            {{ variable_macro(variables, {}) }}
                        {% endfor %}

                        <div class="clearfix">&nbsp;</div>

                        <form class="form-inline" onclick="return false">
                            <div class="form-group">
                                <button class="btn btn-success g-add-property">
                                    <i class="fa fa-plus-square" aria-hidden="true"></i> &nbsp; Add variable
                                </button>
                            </div>
                        </form>

                        <div class="modal fade property-modal" tabindex="-1" role="dialog"
                             aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="mySmallModalLabel">How does it work?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>You have several types of operators</p>
                                        <p>$variable <strong>=</strong> X - $variable now is equal to <b>X</b><br/></p>
                                        <hr>
                                        <p>$variable <strong>+=</strong> X - to current value of $variable add
                                            <b>X</b><br/>
                                            <i>4 += 2 $variable equals 6<br/>
                                                7 += 9 $variable equals 12</i>
                                        </p>
                                        <hr>
                                        <p>$variable <strong>*=</strong> X - multiply current variable by <b>X</b><br/>
                                            <i>4 *= 2 - $variable equals 8<br/>
                                                7 *= 9 - $variable equals 63</i>
                                        </p>
                                        <hr>
                                        <p>$variable <strong>*=</strong> X - divide current variable by <b>X</b><br/>
                                            <i>4 /= 2 $variable equals 2<br/>
                                                7 /= 9 $variable equals 0.77..</i>
                                        </p>
                                        <hr>
                                        <p>$variable <strong>[]=</strong> X - add to $variable list value of
                                            <b>X</b><br/>
                                            <i>$variable []= 'newbie' - now $variable contains <b>newbie</b><br/>
                                                $variable []= 'rookie' - now $variable contains <b>newbie,
                                                    rookie</b><br/>
                                                $variable []= 'master' - now $variable contains <b>newbie, rookie,
                                                    master</b></i>
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if trigger.id|default(null) != null %}
        <div class="row">
            <div class="col-lg-12 col-md-11">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">API details</h4>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">POST</span>
                            <input type="text" class="form-control"
                                   value="https://api-demo.cerebrogaming.com/v1/triggers/{{ trigger.id|default('ID') }}"
                                   aria-describedby="basic-addon1" readonly="readonly">
                        </div>
                        <br/>

                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">GET</span>
                            <input type="text" class="form-control"
                                   value="https://api-demo.cerebrogaming.com/v1/triggers/{{ trigger.id|default('ID') }}/users"
                                   aria-describedby="basic-addon1" readonly="readonly">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-lg-12 col-md-11">
                <div class="text-right">
                    <input type="hidden" name="trigger_id" id="trigger_id" value="{{ trigger.id }}"/>
                    <button class="btn btn-primary" onclick="triggers.save()">SAVE TRIGGER</button>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="/plugins/jquery/jquery-3.1.0.min.js"></script>
<script src="/plugins/toastr/toastr.min.js"></script>
<script src="/js/space.min.js"></script>
<script src="/js/pages/ui-notifications.js"></script>