<div class="page-inner">
    <div class="page-title">
        <h3 class="breadcrumb-header">White Label Dashboard</h3>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-white stats-widget">
                    <div class="panel-body">
                        <div class="pull-left">
                            <span class="stats-number">$781,876</span>
                            <p class="stats-info">Total Income</p>
                        </div>
                        <div class="pull-right">
                            <i class="icon-arrow_upward stats-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-white stats-widget">
                    <div class="panel-body">
                        <div class="pull-left">
                            <span class="stats-number">578,100</span>
                            <p class="stats-info">GGR</p>
                        </div>
                        <div class="pull-right">
                            <i class="icon-arrow_downward stats-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-white stats-widget">
                    <div class="panel-body">
                        <div class="pull-left">
                            <span class="stats-number">+23,356</span>
                            <p class="stats-info">NGR</p>
                        </div>
                        <div class="pull-right">
                            <i class="icon-arrow_upward stats-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-white stats-widget">
                    <div class="panel-body">
                        <div class="pull-left">
                            <span class="stats-number">58%</span>
                            <p class="stats-info">Registrations</p>
                        </div>
                        <div class="pull-right">
                            <i class="icon-arrow_upward stats-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Row -->
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Total Revenue</h4>
                    </div>
                    <div class="panel-body">
                        <div id="chart1">
                            <svg></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Server Status</h4>
                    </div>
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="server-load row">
                                <div class="server-stat col-sm-4">
                                    <p>167GB</p>
                                    <span>Usage</span>
                                </div>
                                <div class="server-stat col-sm-4">
                                    <p>320GB</p>
                                    <span>Space</span>
                                </div>
                                <div class="server-stat col-sm-4">
                                    <p>57.4%</p>
                                    <span>CPU</span>
                                </div>
                            </div>
                        </div>
                        <div id="chart2"><svg></svg></div>
                    </div>
                </div>
            </div>
        </div><!-- Row -->
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Tasks</h4>
                    </div>
                    <div class="panel-body">
                        <div class="task-list">
                            <div class="task-item">
                                <span class="task-name">Download 'Alpha' admin template</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="task-item">
                                <span class="task-name">Create a new landing page</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                                        <span class="sr-only">10% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="task-item">
                                <span class="task-name">Delete inactive users</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                        <span class="sr-only">80% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="task-item">
                                <span class="task-name">Update NVD3 chart plugin<i class="fa fa-check"></i></span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                        <span class="sr-only">100% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="task-item">
                                <span class="task-name">Install 4 new layouts<i class="fa fa-check"></i></span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                        <span class="sr-only">100% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Invoices</h4>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive invoice-table">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th scope="row">0567</th>
                                    <td>Kenny Highland</td>
                                    <td>Themeforest</td>
                                    <td><span class="label label-success">Finished</span></td>
                                    <td>$427</td>
                                </tr>
                                <tr>
                                    <th scope="row">0186</th>
                                    <td>Darrell Price</td>
                                    <td>Twitter</td>
                                    <td><span class="label label-success">Finished</span></td>
                                    <td>$1714</td>
                                </tr>
                                <tr>
                                    <th scope="row">0712</th>
                                    <td>Richard Lunsford</td>
                                    <td>Facebook</td>
                                    <td><span class="label label-danger">Denied</span></td>
                                    <td>$685</td>
                                </tr>
                                <tr>
                                    <th scope="row">0095</th>
                                    <td>Amy Walker</td>
                                    <td>Youtube</td>
                                    <td><span class="label label-warning">Pending</span></td>
                                    <td>$9900</td>
                                </tr>
                                <tr>
                                    <th scope="row">1054</th>
                                    <td>Kathy Olson</td>
                                    <td>Youtube</td>
                                    <td><span class="label label-default">Upcoming</span></td>
                                    <td>$1250</td>
                                </tr>
                                <tr>
                                    <th scope="row">0043</th>
                                    <td>Susan Mabry</td>
                                    <td>Instagram</td>
                                    <td><span class="label label-default">Upcoming</span></td>
                                    <td>$399</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Row -->
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Browsers</h4>
                    </div>
                    <div class="panel-body">
                        <div class="browser-stats">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-chrome"></i>Google Chrome<div class="text-success pull-right">32%<i class="fa fa-level-up"></i></div></li>
                                <li><i class="fa fa-firefox"></i>Firefox<div class="text-success pull-right">25%<i class="fa fa-level-up"></i></div></li>
                                <li><i class="fa fa-internet-explorer"></i>Internet Explorer<div class="text-success pull-right">16%<i class="fa fa-level-up"></i></div></li>
                                <li><i class="fa fa-safari"></i>Safari<div class="text-danger pull-right">13%<i class="fa fa-level-down"></i></div></li>
                                <li><i class="fa fa-opera"></i>Opera<div class="text-danger pull-right">7%<i class="fa fa-level-down"></i></div></li>
                                <li><i class="fa fa-tablet"></i>Mobile &amp; tablet<div class="text-success pull-right">4%<i class="fa fa-level-up"></i></div></li>
                                <li><i class="fa fa-hashtag"></i>Others<div class="text-success pull-right">3%<i class="fa fa-level-up"></i></div></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Projects</h4>
                    </div>
                    <div class="panel-body">
                        <div class="project-stats">
                            <ul class="list-unstyled">
                                <li>Alpha - Admin Template<span class="label label-default pull-right">85%</span></li>
                                <li>Meteor - Landing Page<span class="label label-success pull-right">Finished</span></li>
                                <li>Modern - Corporate Website<span class="label label-success pull-right">Finished</span></li>
                                <li>Space - Admin Template<span class="label label-danger pull-right">Rejected</span></li>
                                <li>Backend UI<span class="label label-default pull-right">27%</span></li>
                                <li>Personal Blog<span class="label label-default pull-right">48%</span></li>
                                <li>E-mail Templates<span class="label label-default pull-right">Pending</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="panel panel-white">
                    <div class="panel-heading clearfix">
                        <h4 class="panel-title">Income</h4>
                    </div>
                    <div class="panel-body">
                        <canvas id="chart3"></canvas>
                    </div>
                </div>
            </div>
        </div><!-- Row -->
    </div><!-- Main Wrapper -->
    <div class="page-footer">
        <p>Made with <i class="fa fa-heart"></i> by stacks</p>
    </div>
</div><!-- /Page Inner -->